{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-activity']);
    </script> 
{% endblock %}
 




{% block body %}
<form action="#" method="POST" id="question_form"  enctype='multipart/form-data' >
{% csrf_token %}    
    <section class="content_list">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h3> <i class="bi bi-chevron-right"></i> {{ sequence.title  }}</h3> 
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <h3 class="thin">Créer une question à choix multiple</h3>
                    <label class="label_complement">Ecrire la question que vous souhaitez poser à votre audience</label>
                    {{ form.title|add_class:"form-control-custom form-control" }} 
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label class="label_complement">Associer une image à la question</label>
                    {{ form.imagefile|add_class:"btn btn-default" }} 
                </div>
            </div>
        </div> 

        <hr/>


        <div class="row">
            <div class="col-sm-12 col-md-12" >  
 
                {{ form_ans.management_form }}
                <script id="rowToClone" type="text/template">
                    <div id="duplicate"> 
                        <div class="row" >
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="input-group marginbottom10"  id="spanner">
                                    <span class="input-group-addon input-group-addon-left">{{ form_ans.empty_form.is_correct }}</span>
                                    <span class="input-group-addon get_image">
                                        <i class="bi bi-image" id="bi-image{{ forloop.counter0 }}"></i>{{ form_ans.empty_form.imageanswer|add_class:"choose_imagefile" }} 
                                        <img src="{% if form_ans.imageanswer.url %}{{ form_ans.empty_form.imageanswer.url }}{% endif %}" height="20px" class="preview" id="preview" >
                                    </span>

                                    {{ form_ans.empty_form.label|add_class:"form-control  padding20"|attr:"placeholder:Ecrire votre réponse ici" }}
                                    <span class="input-group-addon input-group-addon-right remove_more"><i class="bi bi-trash"></i></span>
                                </div>
                            </div> 
                        </div>
                        <div class="row" id="cloningZone">                            

                        </div>
                    </div>
                </script> 
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12">
 
                <div id="formsetZone">
                    {% for form in form_ans %} 
                        <div class="input-group marginbottom10"  id="spanner{{ forloop.counter0 }}">
                            <span class="input-group-addon input-group-addon-left">{{ form.is_correct }}</span>
                            <span class="input-group-addon get_image">
                                <i class="bi bi-image" id="bi-image{{ forloop.counter0 }}"></i>{{ form.imageanswer|add_class:"choose_imagefile" }} 
                                <img src="{% if form.imageanswer.url %}{{ form.imageanswer.url }}{% endif %}" height="20px" class="preview" id="preview{{ forloop.counter0 }}" >
                            </span>

                            {{ form.label|add_class:"form-control radius-right padding20"|attr:"placeholder:Ecrire votre réponse ici" }}
                        </div>

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% endfor %}  
                </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6" >
                            <a href="#"  class="add_more edit" ><i class="bi bi-plus-circle"></i> <small>Ajouter une réponse</small></a><br/><br/>
                        </div>                            
                    </div>




                
            </div>
 
        </div>






        <div class="col-sm-12 col-md-12">
            <div class="form-group">
 
                <input value="Enregistrer" type="submit"  class="btn btn-primary"  />
 
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default"/></a>
            </div>
        </div> 




    </section>
 
</form>

{% endblock %} 

 