{% extends 'sequence/form_activity.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
 

{% block clone %}
<script id="rowToClone" type="text/template">
    <div id="duplicate"> 
        <div class="row" >
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="input-group marginbottom10"  id="spanner">
                    {{ form_ans.empty_form.label|add_class:"form-control  padding20"|attr:"placeholder:Ecrire votre réponse ici" }}
                    <span class="input-group-addon remove_more"><i class="bi bi-trash"></i></span>
                </div>
            </div> 
        </div>
        <div class="row" id="cloningZone">                            

        </div>
    </div>
</script> 
{% endblock %}


{% block choices %}
<div class="input-group marginbottom10"  id="spanner{{ forloop.counter0 }}">
    {{ form.label|add_class:"form-control padding20"|attr:"placeholder:Ecrire votre réponse ici" }}
</div>
{% endblock %}

           
{% block image_for_activity %}
    {{ form.legendimage|add_class:"btn btn-default" }}
{% endblock %}    

{% block properties %}
{% endblock %} 
             