{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3_withoutMathJax.js' %}"></script>
 

    <script>
        require(['script/ajax-sequence']);
    </script> 
  

{% endblock %} 





{% block body %}  
<section class="content_main">
    <form action="" method="POST" enctype='multipart/form-data'>
    {% csrf_token %} 
    <!-- Gestion de la séquence -->       
    <input name="sequence" id="sequence_id" type="hidden" value="{{ sequence.id }}" />    
    <div class="row margin_top20">
        <div class="col-sm-5 col-md-4 col-lg-4">
            <div class="sacado_color_text input-group" id="sequence_title" >
                <span id="new_title">{{ sequence.title }}</span>                     
                <a href="javascript:void();" class="sacado_color"  id="change_title" > <i class="bi bi-pencil"></i></a>
            </div>
            <div class="input-group no_visu_on_load" id="sequence_title_form" >
                {{ form.title |add_class:"form-control-custom"  }}
                {{ form.title.errors }}
                <span class="input-group-addon-borderless inline">  
                    <a href="javascript:void();" class="btn btn-form text-danger size20" id="close_sequence_title_form"><i class="bi bi-x-lg"></i></a>
                    <a href="javascript:void();" class="btn btn-form text-success size20 save_sequence" data-sequence_id="{{ sequence.id}}"  data-champ="title"><i class="bi bi-check"></i></a>
                </span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="input-group" id="sequence_code">
                <span class="sacado_color_text font16"> 
                    Participer : https://docadok.org/<span id="new_code">{{ sequence.code}}</span>
                    <a href="javascript:void();" class="sacado_color"   id="change_code" > <i class="bi bi-pencil"></i></a>
                </span>
 
            </div>            
            <div class="form-group no_visu_on_load" id="sequence_code_form">
                <span class="color_gray font16" > 
                    Participer : https://docadok.org/<span class="input-group-addon-borderless inline">{{ form.code|add_class:"form-control-custom "  }}</span>
                </span>
                <a href="javascript:void();" class="btn btn-form text-danger size20"  id="close_sequence_code_form"><i class="bi bi-x-lg"></i></a>
                <a href="javascript:void();" class="btn btn-form text-success size20 save_sequence" data-sequence_id="{{ sequence.id}}"  data-champ="code"><i class="bi bi-check"></i></a>
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
            <div class="form-group">
                <a href="#" class="btn btn-new-violet" id="open_properties"><i class="bi bi-gear"></i></a>
            </div>
        </div>
    </div>
    <div class="row no_visu_on_load" id="properties">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
                <table class="table borderless">
                    <tr>
                        <td>{{ form.temporisation.label_tag  }}
                            <span class="helper_tip"> <i class="bi bi-question-circle"></i> 
                                <div class="helper_tip_text_right" >Lancement de l'activité sans intervention de l'organisateur 10 secondes après la fin de l'activité précédente.</div>
                            </span>                        
                        </td>
                        <td>{{ form.temporisation|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}} </td>
                    </tr>
                    <tr>
                        <td>{{ form.authentification.label_tag  }}
                            <span class="helper_tip"> <i class="bi bi-question-circle"></i> 
                                <div class="helper_tip_text_right" >Nécessite l'authentification pour participer.</div>
                            </span>
                        </td>
                        <td>{{ form.authentification|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}} </td>
                    </tr>
                    <tr>
                        <td>{{ form.pseudonyme.label_tag  }}
                            <span class="helper_tip"> <i class="bi bi-question-circle"></i> 
                                <div class="helper_tip_text_right" >Le participant choisit son pseudonyme.</div>
                            </span>
                        </td>
                        <td>{{ form.pseudonyme|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}} </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="form-group">
                <table class="table borderless">
                    <tr>
                        <td>{{ form.competition.label_tag  }}
                            <span class="helper_tip"> <i class="bi bi-question-circle"></i> 
                                <div class="helper_tip_text" >Interaction des scores déterminés dans les activités.</div>
                            </span>
                        </td>
                        <td>{{ form.competition|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}}  </td>
                    </tr>
                    <tr>
                        <td>{{ form.terminal.label_tag  }}
                            <span class="helper_tip"> <i class="bi bi-question-circle"></i> 
                                <div class="helper_tip_text" >Chaque participant voit la question sur son terminal.</div>
                            </span>
                        </td>
                        <td>{{ form.terminal|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}}</td>
                    </tr>
                    <tr>
                        <td>{{ form.displayresult.label_tag  }}
                            <span class="helper_tip"> <i class="bi bi-question-circle"></i> 
                                <div class="helper_tip_text" >Résultats visibles en fin d'avtivité.</div>
                            </span>
                        </td>
                        <td>{{ form.displayresult|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}} </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">
                 
                <div>
                    <a href="#" class="btn btn-form text-danger size20 close_properties"><i class="bi bi-x-lg"></i></a>
                    <a href="#" class="btn btn-form text-success size20 close_properties"><i class="bi bi-check"></i></a>
                </div>
 
            </div>
        </div>
    </div>
    <hr/>
    <!-- Fin de gestion de la séquence -->
 
    <!-- Gestion des activités --> 
    <div class="row">
        <div class="col-sm-12 col-md-12" align="right">
            <a href="#" data-toggle='modal' data-target='#import_activit'  class="btn btn-new-violet"><i class="bi bi-plus-circle-fill"></i> Importer une activité</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {% include 'sequence/activities_menu.html' %}
        </div>
        <div class="col-sm-12 col-md-9">

            <ul class="sanspuce">
                {% for activity in activities %}
                <li>
                    
                </li>
                {% empty %}
                <li>
                    Aucune activité créée
                </li>
                {% endfor %}
            </ul>


 



            <div class="row" style="margin-top:40px">
                <div class="col-sm-12 col-md-8">
                    <div class="form-group">
                        <input value="Enregistrer" type="submit" name="save_and_choose" class="btn btn-primary" />                
                        <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de gestion des activités -->




    </form>      
</section>   
{% endblock %}


{% block modales %}
<div class="modal fade" id="import_sequence" tabindex="-1" role="dialog" aria-labelledby="import_sequence">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                 
                <h2>Importer une séquence</h2>              
            </div>
            <div class="modal-body">
                <form action="" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}          
                <div class="row" align="center">
                    <div class="col-sm-12">    
                        <label>Entrer le code de la séquence</label>
                    </div>
                </div>
                <div class="row justify-content-center marginbottom50" align="center">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        {{ form_code.code |add_class:"form-control fill_the_code"|attr:"placeholder:Code" }}
                        {{ form_code.code.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" align="left">    
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
                            Annuler
                        </button> 
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6" align="right">    
                        <div class="form-group">
                            <input value="Importer" type="submit"  class="btn btn-new-violet" /> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}      
 
 