{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block python %}
 
{% endblock %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-activity']);
    </script> 
{% endblock %}
 

{% block sequence %}
        <a class="navbar-brand" href="{% url 'update_sequence'  sequence.id %}">  <i class="bi bi-chevron-right"></i> {{ sequence.title  }}</a>
{% endblock %}


{% block body %}
<form action="#" method="POST" id="question_form"  enctype='multipart/form-data' >
{{ form.sequence }}
{{ form.atype }}
{% csrf_token %}    
    <section class="content_activities">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <h3>{{ title_activity }}</h3>
                            {% block question_label %}
                            <label class="label_complement">Ecrire la question que vous souhaitez poser à votre audience</label>
                            {% endblock %} 
                            <div class="input-group marginbottom10"  id="spanner00">
                                <span class="input-group-addon input-group-addon-left get_image">
                                    <i class="bi bi-image" id="bi-image00"></i>{{ form.imagefile|add_class:"choose_imagefile" }} 
                                    <img src="{% if form.imagefile.url %}{{ form.imagefile.url }}{% endif %}" height="20px" class="preview" id="preview00" >
                                </span>
                                {% block question %}
                                {{ form.title|add_class:"form-control radius-right padding20"|attr:"placeholder: Ecrire votre question" }}
                                {% endblock %}                                
                            </div>
                        </div>
                    </div>
                </div>

                {% block image_for_activity %}
                {% endblock %}    

                <hr/>


                <div class="row">
                    <div class="col-sm-12 col-md-12" >  
                        {% block label_choice %}
                        {% endblock %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12" >  
         
                        {{ form_ans.management_form }}

                        {% block clone %}
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div id="formsetZone">
                            {% for form in form_ans %} 

                                {% block choices %}
                                {% endblock %}

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {% endfor %}  
                        </div>
                            {% block more %}
                            <div class="row">
                                <div class="col-sm-6 col-md-6" >
                                    <a href="#"  class="add_more edit" ><i class="bi bi-plus-circle"></i> <small>Ajouter une réponse</small></a><br/><br/>
                                </div>                            
                            </div>
                            {% endblock %}
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
         
                        <input value="Enregistrer" type="submit"  class="btn btn-primary"  />
         
                        <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default"/></a>
                    </div>
                </div> 
            </div>
            <div class="col-sm-12 col-md-3 activities_properties">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h4 id="caret_activities">Activités <i class="bi bi-caret-down-fill pull-right edit"></i> </h4>
                        <div class="display_caret_activities" id="display_caret_activities">
                            
                            {% include 'sequence/activities_menu.html' %} 
                            
                        </div>
                    </div>
                </div>





                <hr/>
                <div class="row" >
                    <div class="col-sm-12 col-md-12">
                        <h4>Propriétés</h4>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-5 col-md-5">
                        <div class="form-group">
                            <label class="label_complement">Mutualisé ?</label>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7">
                        <div class="form-group">
                            {{ form.is_share|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}}  
                        </div>
                    </div>
                </div>
                {% block properties %}                
                {% endblock %} 
                <div class="row" >
                    <div class="col-sm-5 col-md-5">
                        <div class="form-group">
                            <label class="label_complement">Cpt à rebours ?</label>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7">
                        <div class="form-group">
                            {{ form.is_timer|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}}  
                        </div>
                    </div>
                </div>
                <div class="row no_visu_on_load" id="display_timer">
                    <div class="col-sm-5 col-md-5">
                        <div class="form-group">
                            <label class="label_complement">Temps</label>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7">
                        <div class="form-group">
                            {{ form.timer|add_class:"form-control"}}  
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-5 col-md-5">
                        <div class="form-group">
                            <label class="label_complement">Publié ?</label>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7">
                        <div class="form-group">
                            {{ form.is_publish|add_class:"check_sequence"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-size:small"}}
                        </div>
                    </div>
                </div>
                <div class="row no_visu_on_load" id="display_publish" >
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="label_complement">Depuis le</label>
                            {{ form.start_publish|add_class:"form-control datetimepicker"  }} 
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="label_complement">Jusqu'à</label>
                            {{ form.stop_publish|add_class:"form-control datetimepicker" }} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 

</form>
{% endblock %} 

 