{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}




{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
    <script>
        require(['script/ajax-sequence']);
    </script> 
{% endblock %} 




{% block sequence %}
<span class="tdb_title_sequence"><i class="bi bi-chevron-right"></i>  {{ sequence.title }} </span>
{% endblock %}



{% block nav %}
{% endblock %}



{% block body %}  
<section class="content_main">
    <div class="show_sequence_container" >
        <!-- div start -->        
        {% block show_sequence %}
        {% endblock %}
        <!-- div start -->
 
        {% block general_sequence %}
        {% include 'sequence/schedule_sequence.html' %}
        {% endblock %}


   </div>
</section>   
{% endblock %}


{% block modales %}
{% endblock %}      
 
 