{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-play']);
    </script> 
{% endblock %} 


{% block sequence %}
{% endblock %}


{% block nav %}
{% endblock %}


{% block body %}  
<section class="content_main">
    {% for activity in activities %}
        <div class="show_sequence {% comment %}no_visu_on_load{% endcomment %}"  id="this_activity{{ activity.id }}">
            <div class="row">
                {% if activity.imagefile %}
                    <div class="col-sm-4" align="center">
                        <h2 class="activity_title_img"  id ="activity_title">{{ activity.title }}  </h2>
                    </div>
                    <div class="col-sm-8" align="left">
                        <img src="{{ activity.imagefile.url }}" height="300px" />
                    </div>
                {% else %}
                    <div class="col-sm-12" align="center">
                        <h1 class="activity_title"  id="activity_title">{{ activity.title }} </h1>
                    </div>
                {% endif %} 
            </div>
            {% with  template_name=activity.atype|create_template %}
                {% include template_name  with act=activity %}
            {% endwith %}
        </div>
        <div class="show_sequence {% comment %}no_visu_on_load{% endcomment %}"  id="this_activity_result{{ activity.id }}">
            <div class="row">
                <div class="col-sm-12" align="center">

                </div>
            </div>
        </div>
    {% endfor %}
</section>   
{% endblock %}


{% block modales %}
{% endblock %}      
 
 