{% extends 'sequence/general_sequence.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-play-sequence']);
    </script> 
{% endblock %} 


{% block sequence %}
{% endblock %}


{% block nav %}
{% endblock %}


 



{% block body %}  
<section class="content_main">
    <div class="show_sequence_container" >
        <!-- div start -->        
        {% block introduction_sequence %}
            <div class="show_sequence" id="start">
            {% include 'sequence/introduction_sequence.html' %}
            </div>
        {% endblock %}
        <!-- div start -->
        {% include 'sequence/play_activities.html' %}
   </div>
</section>   
{% endblock %}


{% block modales %}
{% endblock %}      

