{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
    <script>
        require(['script/ajax-sequence']);
    </script> 
{% endblock %} 


{% block sequence %}
<span class="tdb_title_sequence"><i class="bi bi-chevron-right"></i>  {{ sequence.title }} </span>
{% endblock %}




{% block nav %}
{% endblock %}



{% block body %}  
<section class="content_main">
    <div class="show_sequence_container" >
        {% block show_sequence %}
        <!-- div start -->
        <div class="show_sequence" id="start">
            <div class="row">
                <div class="col-sm-12" align="center">
                    <h1 >Comment participer ?</h1>
                </div>
            </div>
         
            <div class="row" style="margin-top:  100px">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    {{ show_qr|safe }}
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2" style="padding-top: 50px;margin-top: 40px;font-size: 100px" align="center"  >
                    <i class="bi bi-globe" class="sacado_color_text"></i>
                    <span style="font-size: 60px"  >WEB</span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7" class="font30" style="margin-top: 100px;" >
                    <h2 class="thin">1. Connectez-vous sur <b>https://play.docadok.org/{{ sequence.code}}</b></h2>
                    <h2 class="thin">2. Participez</h2>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- div start -->
 
        {% for activity in activities %}
        <div class="show_sequence {% if activity.sorter %}activity_sorter{% endif %} {% comment %}no_visu_on_load{% endcomment %}"  id="this_activity{{ activity.id }}">
            <div class="row">
                <div class="col-sm-12" align="center">
                    {% if activity.imagefile %}
                        <div class="col-sm-4" align="center">
                            <h2 class="activity_title_img"  id ="activity_title{{ activity.id }}">{{ activity.title }}  </h2>
                        </div>
                        <div class="col-sm-8" align="left">
                            <img src="{{ activity.imagefile.url }}" height="300px" />
                        </div>
                    {% else %}
                        <h1 class="activity_title"  id="activity_title{{ activity.id }}">{{ activity.title }} </h1>
                    {% endif %} 
                </div>
            </div>
            {% with  template_name=activity.atype|create_template %}
                {% include template_name  with act=activity %}
            {% endwith %}
        </div>
        {% endfor %}
 


   </div>
</section>   
{% endblock %}


{% block modales %}
 
{% endblock %}      
 
 