{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}




{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
    <script>
        require(['script/ajax-sequence']);
    </script> 
{% endblock %} 




{% block sequence %}
<span class="tdb_title_sequence"><i class="bi bi-chevron-right"></i>  {{ sequence.title }} </span>
{% endblock %}



{% block nav %}
{% endblock %}



{% block body %}  
<section class="content_main">
    <div class="show_sequence_container" >
        <!-- div start -->        
        {% block introduction_sequence %}
            <div class="show_sequence" id="start">
            {% include 'sequence/introduction_sequence.html' %}
            </div>
        {% endblock %}
        <!-- div start -->
        {% include 'sequence/all_activities.html' %}
   </div>
</section>   
{% endblock %}


{% block modales %}
{% endblock %}      
 
 