{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 

    <script>
        require(['script/ajax-sequence']);
    </script> 
  

{% endblock %} 


{% block sequence %}
<span class="tdb_title_sequence"><i class="bi bi-chevron-right"></i>  {{ sequence.title }} <i class="bi bi-chevron-right"></i> Participer : https://docadok.org/{{ sequence.code}}</span>
{% endblock %}


{% block body %}  
<section class="content_main">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3" id="left_col">
            <div class="tdb_title_col" align="center">
                <a href="javascript:void();" class="btn_command_sequence font12 pull-right reduce_sequence_col" title="Réduire la liste des participants" id="reduce_left_col"  ><i class="bi bi-chevron-bar-left"></i> </a>
                    Participants 
                    
            </div>
            <div class="body_left_col">
                <table class="table">
                    {% for p in participants %}
                    <tr id="tr_{{ p.user.id }}">
                        <td>
                            {{ forloop.counter }}. {{ p }}
                        </td>
                        <td  id="td_answer_activity_active_{{ p.user.id }}">
                            
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>
                            Aucun participant n'est arrivé
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1 no_visu_on_load" id="no_visu_left_col">   
            <div class="tdb_title_col">
                <a href="javascript:void();" class="btn_command_sequence font12 reduce_sequence_col"  id="augment_left_col" ><i class="bi bi-chevron-bar-right"></i> </a>
            </div>     
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6" id="body_col">

            <div class="row tdb_command_buttons">
                <div class="col-sm-3">
                    <a href="javascript:void();" class="font30" title="Activité précédente"  /><i class="bi bi-skip-start-btn"></i></a>
                  
                </div>
                <div class="col-sm-6 margintop4">
                    <a href="javascript:void();" class="btn_command_sequence font12 " /><i class="bi bi-trophy"></i> Scores</a>
                    <a href="{% url 'show_sequence' sequence.id %}" class="btn_command_sequence font12 " target="_blank" /><i class="bi bi-webcam"></i> DEMARRER </a>                    
                    <a href="javascript:void();" class="btn_command_sequence font12 expand_page" title="Pleine largeur" id="full_screen" /><i class="bi bi-chevron-bar-left"></i><i class="bi bi-chevron-bar-right"></i> </a> 

                </div>
                <div class="col-sm-3">
                    <a href="javascript:void();" class="font30  pull-right" title="Activité suivante" /><i class="bi bi-skip-end-btn"></i></a>             
                </div>
            </div>
            <div class="tdb_command_body">
                <div class="this_actual_sequence" id="this_sequence_display">
                    
     

                </div>
                <div class="this_actual_sequence" id="this_sequence_results">
                    
     

                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3" id="right_col">
            <div class="tdb_title_col">
                Activités 
                <a href="javascript:void();" class="btn_command_sequence font12 pull-right reduce_sequence_col" title="Réduire la liste des activités" id="reduce_right_col" ><i class="bi bi-chevron-bar-right"></i> </a>   
            </div>  
            <div class="body_right_col">
                {% for activity in activities %}
                <li class="list_sequence_index font16"  data-activity_id = "{{ activity.id }}" >
                    <i class="{{ activity.icon }}"></i> {{ forloop.counter }}. {{ activity.title }}
                    <span class="sequence_property">[{{ activity.code}}]</span>
                </li>
                {% empty %}
                <li class="list_sequence_index font16">
                    Aucune activité créée
                </li>
                {% endfor %}
            </div> 
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1 no_visu_on_load" id="no_visu_right_col">
            <div class="tdb_title_col">
                <a href="javascript:void();" class="btn_command_sequence font12 reduce_sequence_col" title="Réduire la liste des activités"   id="augment_right_col"  /><i class="bi bi-chevron-bar-left"></i> </a>      
            </div>  
        </div>
    </div>
    <!-- Fin de gestion des activités -->
    </form>      
</section>   
{% endblock %}


{% block modales %}
<div class="modal fade" id="import_activity" tabindex="-1" role="dialog" aria-labelledby="import_activity">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                 
                <h2>Importer une séquence</h2>              
            </div>
            <div class="modal-body">
                <form action="{% url 'import_activity' sequence.id %}" method="POST" enctype='multipart/form-data'>
                {{ form_code.sequence }}    
                {% csrf_token %}          
                <div class="row" align="center">
                    <div class="col-sm-12">    
                        <label>Entrer le code de l'activité</label>
                    </div>
                </div>
                <div class="row justify-content-center marginbottom50" align="center">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        {{ form_code.code |add_class:"form-control fill_the_code"|attr:"placeholder:Code" }}
                        {{ form_code.code.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" align="left">    
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
                            Annuler
                        </button> 
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6" align="right">    
                        <div class="form-group">
                            <input value="Importer" type="submit"  class="btn btn-new-violet" /> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}      
 
 