{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}



{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}">\
</script>
{% endblock %}

{% block body %}
<h1>Participant anonyme</h1>

<input id="AS">
<div id="blocReponse"></div>

<script src="{% static 'js/asynchrone/openWS.js' %}"></script>
<script>
console.log("coucou");
socket=newWebSocket("/RT/Cons/");

function PostMessage(text){
        socket.send(JSON.stringify({"command":"connexionPA", "pseudo":text, "sequence":1}));
}

AS=document.getElementById("AS");
AS.onchange=function(){
     console.log(AS.value);
     PostMessage(AS.value);
     AS.value="";
  };


socket.onopen = function () {
  console.log("Connected to socket");
}
socket.onmessage = function (message) {
      var data = JSON.parse(message.data);
      console.log("message recu :",data);
      if (data.error) {return;}
      if (data.type=="message")
          {document.getElementById("blocReponse").innerHTML=data.message;}
          }
//});                                                                                    

</script>
{% endblock %}
